# Define List

In [38]:
# List: collection of value

# define list
list_random = [1, 2, 3, 4, "aku", "kamu", "dia", "mereka", True, False, 3.14, 6.68e-11, 9.8]
print(list_random)

[1, 2, 3, 4, 'aku', 'kamu', 'dia', 'mereka', True, False, 3.14, 6.68e-11, 9.8]

In [39]:
# list of string value
list_mantan = ["lisa", "jeni", "jisoo", "rose"]
list_mantan

['lisa', 'jeni', 'jisoo', 'rose']

# Index

In [40]:
# accessing value with index
list_mantan[3]

'rose'

In [41]:
# index error
list_mantan[10]

IndexError: list index out of range

# Slicing

In [ ]:
# accessing multi value from list
list_mantan[0:3]

['lisa', 'jeni', 'jisoo']

In [ ]:
# list warna mejiku
warna = ["merah", "jingga", "kuning", "hijau", "biru", "nila", "ungu"]

In [ ]:
# print warna index ke 5
warna[5]

'nila'

In [ ]:
# print warna index 0 sampai 4
warna[:4]

['merah', 'jingga', 'kuning', 'hijau']

In [ ]:
# print 4 warna terakhir
warna[-4:]

['hijau', 'biru', 'nila', 'ungu']

# Method

In [ ]:
warna

['merah', 'jingga', 'kuning', 'hijau', 'biru', 'nila', 'ungu']

In [ ]:
# append: menambahkan value baru pada index selanjutnya
warna.append("pink")
warna

In [ ]:
# index
warna.index("jingga")

1

In [ ]:
# len
len(warna)

8

In [ ]:
# remove
warna.remove("jingga")
warna

In [ ]:
# extend
warna.extend([1, 2, 3])
warna

In [ ]:
# operation of list
[1, 2, 3] + [4, 5, "lisa"]

[1, 2, 3, 4, 5, 'lisa']

# mutable

In [ ]:
warna

['merah', 'jingga', 'kuning', 'hijau', 'biru', 'nila', 'ungu', 1, 2, 3]

In [ ]:
warna[0]="putih"

In [ ]:
warna

['putih', 'jingga', 'kuning', 'hijau', 'biru', 'nila', 'ungu', 1, 2, 3]

# iterable

In [44]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
# loop in list value
for i in warna:
    print(i)

merah
jingga
kuning
hijau
biru
nila
ungu

# check value

In [48]:
"merah" in warna

True

In [49]:
"hitam" in warna

False

In [ ]:
"merah" not in warna

# CRUD (create, read, update, delete)

In [12]:
print("""
Silahkan pilih menu :
1. create: definisikan list kosong
2. read: print list
3. update: tambahkan value baru
4. delete: delete value yang diinginkan
5. exit
""")

while True:

    menu = int(input("masukkan menu:"))

    if menu==1:
        my_list = []
        print("list berhasil dibuat")
    elif menu==2:
        print(my_list)
    elif menu==3:
        var = input("masukkan nilai yang ingin ditambahkan: ")
        my_list.append(var)
    elif menu==4:
        var = input("masukkan nilai yang ingin dihapus: ")
        if var in my_list:
            my_list.remove(var)
        else:
            print("{} tidak ada dalam list".format(var))
    else:
        break

Silahkan pilih menu :
1. create: definisikan list kosong
2. read: print list
3. update: tambahkan value baru
4. delete: delete value yang diinginkan
5. exit

list berhasil dibuat
[]
[]
['merah']
['merah', 'hijau']
hitam tidak ada dalam list
hijau tidak ada dalam list
['merah']

In [4]:
my_list = [1, 2, 3]

my_list.extend([4, 5, 6])

my_list

[1, 2, 3, 4, 5, 6]

In [5]:
type(input("masukkan value: "))

str

In [15]:
input("masukkan nilai: ").split(", ")

['aku', 'kamu', 'dia', 'mereka']

In [ ]:
type()

In [14]:
var = "aku, kamu"
var.split(", ")

['aku', 'kamu']